<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'LOGIN.TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>{{ 'LOGIN.EMAIL.TITLE' | translate }}</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder={{emailPlaceholder}}
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>{{ 'LOGIN.EMAIL.VALID' | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'LOGIN.PASSWORD.TITLE' | translate }}</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder={{passwordPlaceholder}}
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>{{ 'LOGIN.PASSWORD.VALID' | translate }}</p>
    </ion-item>

    <button ion-button block type="submit">
      {{ 'LOGIN.TITLE' | translate }}
    </button>

  </form>

  <button ion-button block clear style="margin-top : 0" (click)="goToResetPassword()">
    {{ 'LOGIN.PASSWORD_FORGOT' | translate }}
  </button>

  <button ion-button block style="background-color : #afabab; margin : 50px 0" (click)="createAccount()">
    {{ 'LOGIN.NEW_ACCOUNT' | translate }}
  </button>

</ion-content>
