<ion-header>

  <ion-navbar id="colorNavbar">
    <ion-title>
      {{coinName}}
    </ion-title>
  </ion-navbar>

  <ion-row *ngIf="ctx.getCoinAmount(coinContractAddress) >0" style="height: 60px; background-color: white;">

    <ion-col col-8 style="display: table;">
      <div style="
        height: 50px !important;
        display: table-cell;
        vertical-align: middle;
        text-align: right;">
        <h4 *ngIf="coinName" style="color: grey;">
          {{ 'ITEM_DETAIL.SUBTITLE_1' | translate }} {{coinName}} {{ 'ITEM_DETAIL.SUBTITLE_2' | translate }}:
        </h4>
      </div>
    </ion-col>

    <ion-col col-2 style="display: table;">
      <div style="
      height: 50px !important;
      display: table-cell;
      vertical-align: middle;
      text-align: center;">
        <h4 *ngIf="coinName" [ngStyle]="{'color': coinColor}">
          {{ctx.getCoinAmount(coinContractAddress)}}
        </h4>
      </div>
    </ion-col>

    <ion-col col-2 style="display: table;">
      <div style="
      height: 50px !important;
      display: table-cell;
      vertical-align: middle;">
        <img-loader
          fallback="assets/images/default_images/defaultCoin.png"
          style="
            position: absolute;
            top: 50%;
            left: 25%;
            height: 40px;
            width: 40px;
            margin-top: -20px;
            margin-left: -20px;"
          src="{{coinIcon}}"
          useImg
        ></img-loader>
       </div>
    </ion-col>

  </ion-row>







  <div style="
      background-color: yellow;
      position: relative;
      height: 130px;
      overflow: auto;
      overflow-y:hidden;
      overflow-x:hidden;">
      <img-loader
        fallback="assets/images/default_images/defaultLandscape.png"
        src="{{ landscape }}"
        style="
          height: 130px !important;
          max-height: 130px;
          overflow: auto !important;" useImg>
      </img-loader>
      <div style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130px;
        clear: both;
        background-color: rgba(255, 255, 255, 0.75);
        color: #ffffff;">

        <ion-row>
        <ion-col col-3>
        </ion-col>
        <ion-col col-6>
          <ion-row style="height: 80px">
            <img-loader
              fallback="assets/images/default_images/defaultBrandIcon.png"
              style="
              background-color: white;
              border-radius: 40px;
              position: absolute;
              height: 80px;
              width: 80px;
              left: 50%;
              margin-left: -40px;
              border: 1px solid #afabab;"
              src="{{ brandIcon }}" useImg>
            </img-loader>
          </ion-row>
          <ion-row style="margin-top: 5px;">
            <ion-col style="text-align: center; margin: 0 0; padding: 0 0;">
              <p style="
                color: grey;
                font-size: 130%;
                margin: 0 0;">
                {{ companyName }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
        </ion-col>

      </ion-row>
      </div>
  </div>


  <ion-row style="height: 35px">
    <ion-col col-6 style="text-align: center; padding: 0 0;">
      <button (click)="selectOffers()" style="
        background-color: white;
        height: 100%;
        width: 100%;
        color: grey;
        font-size: 120%;">
        <div *ngIf="selectedTab==0" [ngStyle]="{'color': coinColor}">
          {{ 'ITEM_DETAIL.OFFERS' | translate }}
        </div>
        <div *ngIf="selectedTab!=0" [ngStyle]="{'color': 'grey'}">
          {{ 'ITEM_DETAIL.OFFERS' | translate }}
        </div>
      </button>
      <div *ngIf="selectedTab==0" [ngStyle]="{'background-color': coinColor}" style="width: 100%; height: 2px; botttom: 0;"></div>
    </ion-col>
    <ion-col col-6 style="text-align: center; padding: 0 0;">
      <button (click)="selectRewards()" style="
        background-color: white;
        height: 100%;
        width: 100%;
        color: grey;
        font-size: 120%;">
        <div *ngIf="selectedTab==1" [ngStyle]="{'color': coinColor}">
          {{ 'ITEM_DETAIL.REWARDS' | translate }}
        </div>
        <div *ngIf="selectedTab!=1" [ngStyle]="{'color': 'grey'}">
          {{ 'ITEM_DETAIL.REWARDS' | translate }}
        </div>
      </button>
      <div *ngIf="selectedTab==1" [ngStyle]="{'background-color': coinColor}" style="width: 100%; height: 2px; bottom: 0;"></div>
    </ion-col>
  </ion-row>

</ion-header>






<ion-content>

  <!-- -------------------------------------------- OFFERS -------------------------------------------- -->

  <ion-list *ngIf="selectedTab==0">

    <ion-item-sliding *ngFor="let off of offers" style="padding: 0 0; background-color: rgba(255, 255, 255, 0.85);">

      <button ion-item style="padding: 0 0; margin: 0 0; background-color: transparent" (click)="offerTapped($event, off)">
        <ion-row style="margin: 0 0; padding: 0 0;">

          <ion-col col-2 style="
            margin: 0 0;
            padding: 0 0;
            align-self: stretch;
            height: 50px;">
            <div>
              <!-- [ngStyle]="{'border-color': coinColor}" -->
              <img-loader
                fallback="assets/images/default_images/defaultImage.png"
                src={{offerImages[off[offerID]]}}
                style="
                  border-radius: 40px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 40px;
                  height: 40px;
                  margin-top: -20px;
                  margin-left: -20px;
                  border:1px solid #afabab;
                " useImg>
              </img-loader>
            </div>
          </ion-col>

          <ion-col col-7 style="
            padding: 0 0;
            margin: 0 0;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
              ">
              <p style="
                max-height: 40px;
                font-color: grey;
                font-size: 10px;
                margin: 0px 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                ">
                {{off[offerName]}}
              </p>
            </div>
          </ion-col>

          <ion-col col-3 style="display: table;">

            <div style="
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: right;
            ">
              <h4 *ngIf="ctx.getCoinAmount(coinContractAddress)>=off[offerPrice]" [ngStyle]="{'color': coinColor}">
                {{ 'ITEM_DETAIL.COST' | translate }} : {{off[offerPrice]}}
              </h4>
              <h4 *ngIf="ctx.getCoinAmount(coinContractAddress)<off[offerPrice]" [ngStyle]="{'color': 'grey'}">
                {{ 'ITEM_DETAIL.COST' | translate }} : {{off[offerPrice]}}
              </h4>
            </div>
          </ion-col>

        </ion-row>
      </button>

    </ion-item-sliding>
  </ion-list>



  <!-- -------------------------------------------- REWARDS -------------------------------------------- -->

  <ion-list *ngIf="selectedTab==1">

    <ion-item-sliding *ngFor="let off of rewards" style="padding: 0 0; background-color: rgba(255, 255, 255, 0.85);">

      <button ion-item style="padding: 0 0; margin: 0 0; background-color: transparent" (click)="rewardTapped($event, off)">
        <ion-row style="margin: 0 0; padding: 0 0;">

          <ion-col col-2 style="
            margin: 0 0;
            padding: 0 0;
            align-self: stretch;
            height: 50px">
            <div>
              <!-- [ngStyle]="{'border-color': coinColor}" -->
              <img-loader
                fallback="assets/images/default_images/defaultImage.png"
                src={{offerImages[off[offerID]]}}
                style="
                  border-radius: 40px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 40px;
                  height: 40px;
                  margin-top: -20px;
                  margin-left: -20px;
                  border:1px solid #afabab;
                " useImg>
              </img-loader>
            </div>
          </ion-col>

          <ion-col col-7 style="
            padding: 0 0;
            margin: 0 0;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
              ">
              <p style="
                max-height: 40px;
                font-color: grey;
                font-size: 10px;
                margin: 0px 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                ">
                {{off[offerName]}}
              </p>
            </div>
          </ion-col>

          <ion-col col-3 style="display: table;">

            <div style="
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: right;
            ">
              <h4 [ngStyle]="{'color': coinColor}">
                {{ 'ITEM_DETAIL.USE' | translate }}
              </h4>
            </div>
          </ion-col>

        </ion-row>
      </button>

    </ion-item-sliding>
  </ion-list>

</ion-content>

<!-- -------------------------------------------- FOOTER -------------------------------------------- -->


<ion-footer *ngIf="ctx.getCoinAmount(coinContractAddress) >0" style="text-align: center;">
<!-- align to the bottom of the page -->
<!-- <div style="position: absolute; bottom: 0px; width: 100%; z-index:10; background-color: white"> -->
  <div class="greyBar">
    <p style="margin: 0 0; padding: 3px 0; color: grey">{{ 'ITEM_DETAIL.ACTION.TITLE_1' | translate }} {{coinName}}s {{ 'ITEM_DETAIL.ACTION.TITLE_2' | translate }}</p>
  </div>

  <button style="width: 100%; margin: 0 0; padding: 0 0; background-color: white">

  <ion-row style="height: 60px; margin: 0 0;padding: 0 0;">

    <ion-col col-3 style="padding: 0 0;">
        <button ion-button style="
          background-color: transparent !important;
          text-align: right !important;

          margin: 0 0;
          height: 100%;
          width: 100%;

          box-shadow: none !important;
          border-color: rgba(0,0,0,0) !important;
          outline: none !important;"

          (click)="receiveCoins()"
          [ngStyle]="{'color': coinColor}">
          {{ 'ITEM_DETAIL.ACTION.RECEIVE' | translate }}
        </button>
    </ion-col>


    <ion-col col-2 style="display: table;">
      <div style="
        height: 50px !important;
        display: table-cell;
        vertical-align: middle;">
        <img-loader style="
        position: absolute;
        top: 50%;
        left: 50%;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        margin-left: -20px;"
        src="assets/images/other/arrow_left_nn.png" useImg></img-loader>
      </div>
    </ion-col>

    <ion-col col-2 style="
    position: relative; display: table;">
      <div style="
      height: 50px !important;
      display: table-cell;
      vertical-align: middle;">
        <img-loader
          fallback="assets/images/default_images/defaultCoin.png"
          style="
            position: absolute;
            top: 50%;
            left: 50%;
            height: 40px;
            width: 40px;
            margin-top: -20px;
            margin-left: -20px;"
          src="{{coinIcon}}"
          useImg
        ></img-loader>
       </div>
    </ion-col>


    <ion-col col-2 style="display: table;">
      <div style="
        height: 50px !important;
        display: table-cell;
        vertical-align: middle;
        position: relative;">
        <img-loader style="
        position: absolute;
        top: 50%;
        left: 50%;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        margin-left: -20px;"
        src="assets/images/other/arrow_right_nn.png" useImg></img-loader>
      </div>
    </ion-col>

    <ion-col col-3 style="padding: 0 0;">
        <button ion-button style="
          background-color: transparent !important;
          text-align: right !important;

          margin: 0 0;
          height: 100%;
          width: 100%;

          box-shadow: none !important;
          border-color: rgba(0,0,0,0) !important;
          outline: none !important;"

          (click)="sendCoins()"
          [ngStyle]="{'color': coinColor}">
          {{ 'ITEM_DETAIL.ACTION.SEND' | translate }}
        </button>
    </ion-col>

  </ion-row>


</button>


</ion-footer>
