<ion-header>

  <ion-navbar *ngIf=pageWillLeave [ngStyle]="{'background-color': transparent}">
  </ion-navbar>
  <ion-navbar *ngIf=!pageWillLeave [ngStyle]="{'background-color': coinColor}">
    <ion-title>
      {{coinName}}
    </ion-title>
  </ion-navbar>

  <ion-row class="white-row">

    <ion-col col-8 class="ion-col2">
      <div class="small-span">
        <h4 text-right *ngIf="coinName">
          Your {{coinName}}s:
        </h4>
      </div>
    </ion-col>

    <ion-col col-2 class="ion-col2">
      <div class="small-span">
        <h4 text-center *ngIf="coinName" [ngStyle]="{'color': coinColor}">
          {{ctx.c[ctx.amounts][coinContractAddress]}}
        </h4>
      </div>
    </ion-col>

    <ion-col col-2 class="ion-col2">
      <img-loader
        fallback="assets/images/default_images/defaultCoin.png"
        [ngStyle]="{
          'position':'absolute',
          'top':'50%',
          'left':'50%',
          'height':'2em',
          'width':'2em',
          'margin-top':'-1em',
          'margin-left':'-1em'
        }"
        src="{{coinIcon}}"
        useImg
       ></img-loader>
    </ion-col>

  </ion-row>







  <div style="
      background-color: white;
      position: relative;
      height: 130px;
      overflow: auto;
      overflow-y:hidden;
      overflow-x:hidden;">
      <img-loader
        fallback="assets/images/default_images/defaultLandscape.png"
        src="{{ landscape }}"
        style="position: relative; height: 130px !important; max-height: 130px; overflow: auto !important;" useImg>
      </img-loader>
      <div style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130px;
        clear: both;
        background-color: rgba(255, 255, 255, 0.75);
        color: #ffffff;">

        <ion-row>
        <ion-col col-3>
        </ion-col>
        <ion-col col-6>
          <ion-row style="height: 80px">
            <img-loader
              fallback="assets/images/default_images/defaultBrandIcon.png"
              style="
              border-radius: 40px;
              position: absolute;
              height: 80px;
              width: 80px;
              left: 50%;
              margin-left: -40px;
              border: 1px solid #afabab;"
              src="{{ brandIcon }}" useImg>
            </img-loader>
          </ion-row>
          <ion-row style="margin-top: 5px;">
            <ion-col style="text-align: center; margin: 0 0; padding: 0 0;">
              <p style="
                color: grey;
                font-size: 130%;
                margin: 0 0;">
                {{ companyName }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
        </ion-col>

      </ion-row>
      </div>
  </div>

  <ion-row style="height: 35px">
    <ion-col col-6 style="background-color: white; text-align: center; padding: 0 0;">
      <button style="
        height: 100%;
        width: 100%;
        color: grey;
        font-size: 120%;">
        Offers
      </button>
    </ion-col>
    <ion-col col-6 style="background-color: white;">
      <button style="
        height: 100%;
        width: 100%;
        color: grey;
        font-size: 120%;">
        My rewards
      </button>
    </ion-col>
  </ion-row>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let off of offers" style="padding: 0 0; background-color: rgba(255, 255, 255, 0.85);">

      <button ion-item style="padding: 0 0; margin: 0 0; background-color: transparent" (click)="offerTapped($event, off)">
        <ion-row style="margin: 0 0; padding: 0 0;">

          <ion-col col-2 style="
            margin: 0 0;
            padding: 0 0;
            align-self: stretch;
            height: 50px">
            <div>
              <!-- [ngStyle]="{'border-color': coinColor}" -->
              <img-loader
                fallback="assets/images/default_images/defaultImage.png"
                src={{offerImages[off[offerID]]}}
                style="
                  border-radius: 40px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 40px;
                  height: 40px;
                  margin-top: -20px;
                  margin-left: -20px;
                  border:1px solid #ffffff;
                " useImg>
              </img-loader>
            </div>
          </ion-col>

          <ion-col col-7 style="
            padding: 0 0;
            margin: 0 0;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
              ">
              <p style="
                max-height: 40px;
                font-color: grey;
                font-size: 10px;
                margin: 0px 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                ">
                {{off[offerName]}}
              </p>
            </div>
          </ion-col>

          <ion-col col-3 style="
            margin: 0 0;
            padding: 0 0;">

            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
            ">

              <h4 class="text" text-center [ngStyle]="{'color': coinColor}" style="
                max-height: 40px;
                margin: 5px 5px;
              ">
                Price : {{off[offerPrice]}}
              </h4>
            </div>
          </ion-col>

        </ion-row>
      </button>

    </ion-item-sliding>
  </ion-list>

</ion-content>


<ion-footer style="text-align: center;">
<!-- align to the bottom of the page -->
<!-- <div style="position: absolute; bottom: 0px; width: 100%; z-index:10; background-color: white"> -->
  <div class="greyBar">
    <p style="margin: 0 0; padding: 3px 0; color: white">Exchange {{coinName}}s with friends</p>
  </div>

  <button style="margin: 0 0; padding: 0 0; background-color: white">
  <ion-row style="margin: 0 0;padding: 0 0;">

    <ion-col style="position:relative;" [ngStyle]="{'background-color': 'transparent'}">
        <button ion-button style="
          background-color: transparent !important;
          text-align: center !important;

          position:absolute;
          top:50%;
          height:3em;
          margin-top:-1.5em;

          left: 50%;
          width: 5em;
          margin-left: -2.5em;

          box-shadow: none !important;
          border-color: rgba(0,0,0,0) !important;
          outline: none !important;"

        (click)="receiveCoins()"
        [ngStyle]="{'color': coinColor}">
        Receive
        </button>
    </ion-col>

    <ion-col style="position:relative; text-align:center" [ngStyle]="{'background-color': 'transparent'}">
        <img-loader src="assets/images/other/arrow_left.png" useImg></img-loader>
    </ion-col>

    <ion-col style="position:relative;" [ngStyle]="{'background-color': 'transparent'}">
        <img-loader
          fallback="assets/images/coins/Coin.png"
          [ngStyle]="{
            'position':'absolute',
            'top':'50%',
            'left':'50%',
            'height':'40px',
            'width':'40px',
            'margin-top':'-20px',
            'margin-left':'-20px'
          }"
          src="{{coinIcon}}"
          useImg
         ></img-loader>
    </ion-col>

    <ion-col style="position:relative; text-align:center" [ngStyle]="{'background-color': 'transparent'}">
        <img-loader src="assets/images/other/arrow_right.png" useImg></img-loader>
    </ion-col>

    <ion-col style="position:relative;" [ngStyle]="{'background-color': 'transparent'}">
        <button ion-button style="
          background-color: transparent !important;
          text-align: center !important;

          position:absolute;
          top:50%;
          height:3em;
          margin-top:-1.5em;

          left: 50%;
          width: 5em;
          margin-left: -2.5em;

          box-shadow: none !important;
          border-color: rgba(0,0,0,0) !important;
          outline: none !important;"

          (click)="sendCoins()"
          [ngStyle]="{'color': coinColor}">
          Send
        </button>
    </ion-col>

  </ion-row>

</button>

<!-- </div> -->

</ion-footer>
