<!--
  Generated template for the ProfilePage page.

  "EMAILALERT": {
    "TITLE": "Erreur",
    "CONTENT": "Adresse email non valide."
  },

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="{margin: 0px}">

  <ion-navbar style="{margin: 0px}">
    <ion-buttons start>
      <button ion-button *ngIf="!modifying" (click)="goBack()">
        {{ 'PROFILE.BACK' | translate }}
      </button>
      <button ion-button *ngIf="modifying" (click)="cancel()">
        {{ 'PROFILE.CANCEL' | translate }}
      </button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.ACCOUNT' | translate }}</ion-title>
      <ion-buttons end>
        <button ion-button *ngIf="!modifying" (click)="modify()">
          {{ 'PROFILE.MODIFY' | translate }}
        </button>
        <button ion-button *ngIf="modifying" (click)="saveModification()">
          {{ 'PROFILE.SAVE' | translate }}
        </button>
      </ion-buttons>
  </ion-navbar>

  <!-- <div>
    <p style="margin: 0 0; padding: 0.5px 0; background-color: white"></p>
  </div> -->


</ion-header>


<ion-content style="margin: 0px 0px; padding: 0px 0px">

  <div *ngIf="accountCreated" style="margin: 0px 0px; padding: 0px 0px">

  <ion-row [ngStyle]="{
    'background-color':'white',
    'position':'relative',
    'padding':'10px 0',
    'height':'100px',
    'width':'100%'
  }">
    <img-loader
      [ngStyle]="{
      'border-radius':'80px',
      'position':'absolute',
      'top':'50%',
      'left':'50%',
      'height':'80px',
      'width':'80px',
      'margin-top':'-40px',
      'margin-left':'-40px',
      'overflow':'hidden'
      }"
      fallback="assets/images/default_images/defaultProfile.png"
      src="{{profilePicture}}"
      useImg>
    </img-loader>

  </ion-row>

  <!-- 'border':'1px solid #afabab', -->

  <!-- Image URI: file:///var/mobile/Containers/Data/Application/6EAC2F43-8A2E-4DDF-AE29-B55A814C0789/tmp/cdv_photo_001.jpg -->

  <ion-row *ngIf="modifying" [ngStyle]="{
    'background-color':'white',
    'position':'relative',
    'padding-top':'25px'
  }">
    <button ion-button outline (click)="changeImage()" [ngStyle]="{
      'outline':'true',
      'border-color':'#afabab',
      'color':'#afabab',
      'position':'absolute',
      'top':'50%',
      'left':'50%',
      'height':'2em',
      'width':'11em',
      'margin-top':'-1.5em',
      'margin-left':'-5.5em',
      'font-size':'9px'
      }">
      {{ 'PROFILE.PICTURE' | translate }}
    </button>
  </ion-row>

  <div>
    <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
      {{ 'PROFILE.DETAILS' | translate }}
    </p>
  </div>

<form class="list" [formGroup]="infoForm" (submit)="saveModification()" novalidate>

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-3>
      <p >
        {{ 'PROFILE.NAME.TITLE' | translate }} :
      </p>
    </ion-col>
    <ion-col col-9>
      <p *ngIf="!modifying" style="color: black">
        {{name}}
      </p>
      <ion-input
        *ngIf="modifying"
        style="color: #404040;
          font-size: 16px;
          font-family: 'Verdana' !important;
          border-bottom: 1px solid grey;"
        type="name"
        #name
        placeholder="{{ 'PROFILE.NAME.PLACEHOLDER' | translate }}"
        formControlName="name"
        [(ngModel)]="newName"
      ></ion-input>
    </ion-col>
  </ion-row>

  <!-- <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-3>
      <p >
        {{ 'PROFILE.SURNAME.TITLE' | translate }}
      </p>
    </ion-col>
    <ion-col col-9>
      <p *ngIf="!modifying" style="color: black">
        {{surname}}
      </p>
      <ion-input
        *ngIf="modifying"
        style="color: #404040;
          font-size: 16px;
          font-family: 'Verdana' !important;
          border-bottom: 1px solid grey;"
        type="surname"
        #surname
        placeholder="{{ 'PROFILE.SURNAME.PLACEHOLDER' | translate }}"
        formControlName="surname"
        [(ngModel)]="newSurname"
      ></ion-input>
    </ion-col>
  </ion-row> -->

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-3>
      <p >
        {{ 'PROFILE.EMAIL.TITLE' | translate }} :
      </p>
    </ion-col>
    <ion-col col-9>
      <p *ngIf="!modifying" style="color: black;">
        {{email}}
      </p>
      <ion-input
        *ngIf="modifying"
        style="color: #404040;
          font-size: 16px;
          font-family:'Verdana' !important;
          border-bottom: 1px solid grey;"
        type="email"
        #email
        placeholder="{{ 'PROFILE.EMAIL.PLACEHOLDER' | translate }}"
        formControlName="email"
        [(ngModel)]="newEmail"
        [class.invalid]="!infoForm.controls.email.valid &&
          infoForm.controls.email.dirty"
      ></ion-input>
      <div class="error-message" *ngIf="!infoForm.controls.email.valid  &&
        infoForm.controls.email.dirty && modifying">
        <p>{{ 'PROFILE.EMAIL.VALID' | translate }}</p>
      </div>
    </ion-col>
  </ion-row>

  <!-- <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-3>
      <p >
        {{ 'PROFILE.PHONE.TITLE' | translate }}
      </p>
    </ion-col>
    <ion-col col-9>
      <p *ngIf="!modifying" style="color: black">
        {{ctx.c[info]['phone']}}
      </p>
      <ion-input
        *ngIf="modifying"
        style="color: #404040;
          font-size: 16px;
          font-family: 'Verdana' !important;
          border-bottom: 1px solid grey;"
        type="tel"
        #phone
        placeholder="{{ 'PROFILE.PHONE.PLACEHOLDER' | translate }}"
        formControlName="phone"
        [(ngModel)]="ctx.c[info]['phone']"
        [class.invalid]="!infoForm.controls.phone.valid &&
          infoForm.controls.phone.dirty"
      ></ion-input>
      <div class="error-message" *ngIf="!infoForm.controls.phone.valid  &&
        infoForm.controls.phone.dirty && modifying">
        <p>{{ 'PROFILE.PHONE.VALID' | translate }}</p>
      </div>
    </ion-col>
  </ion-row> -->

  </form>

  <div>
    <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
      ID
    </p>
  </div>

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-5>
      <p >
        {{ 'PROFILE.ID' | translate }} :
      </p>
    </ion-col>
    <ion-col col-5>
      <p style="color: black; font-size: 10px">
        {{address}}
      </p>
    </ion-col>
    <ion-col col-2>
      <button ion-button full icon-center (click)="showID()" [ngStyle]="{
        'background-color':'transparent',
        'position':'relative',
        'color': coinColor,
        'box-shadow':'none',
        'border-color':'rgba(0,0,0,0)',
        'outline':'none'
      }">
        <img-loader
          [ngStyle]="{
            'position':'absolute',
            'top':'50%',
            'left':'50%',
            'height':'1.5em',
            'width':'1.5em',
            'margin-top':'-0.75em',
            'margin-left':'-0.75em'
          }"
          src="assets/images/other/qr_code.png"
          useImg>
        </img-loader>
      </button>
    </ion-col>
  </ion-row>


  <div>
    <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
      Demo
    </p>
  </div>

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-5>
      <p >
        {{ 'PROFILE.DEMO.TITLE' | translate }} :
      </p>
    </ion-col>
    <ion-col col-5>
      <p style="color: black;">
        {{ 'PROFILE.DEMO.ACTIVATE' | translate }}
      </p>
    </ion-col>
    <ion-col col-2>
      <ion-toggle [(ngModel)]="newDemoMode" (ionChange)="switchDemoMode()" style="margin: 2px 0"></ion-toggle>
    </ion-col>
  </ion-row>



<div>
  <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
    {{ 'PROFILE.DISCONNECTION' | translate }}
  </p>
</div>

<ion-row style="margin: 0 0; padding: 0px 5px; background-color: white;" (click)="disconnect()">
    <ion-col col-1 [ngStyle]="{'position':'relative'}">
      <ion-icon name="power" [ngStyle]="{
        'color':'#C00000',
        'position':'absolute',
        'top':'50%',
        'font-size':'20px',
        'height':'1em',
        'margin-top':'-0.5em'
      }"></ion-icon>
    </ion-col>
    <ion-col>
      <p style="color: #C00000">
        {{ 'PROFILE.DISCONNECT' | translate }}
      </p>
    </ion-col>
</ion-row>

</div>



<div padding *ngIf="(!accountCreated) && (!newAccountMode)" style="margin: 0px 0px; padding: 0px 0px">

  <ion-row style="margin-top: 60px;">

    <ion-col col-1></ion-col>
    <ion-col col-10 style="
      padding: 0 0;
      margin: 0 0;
      display: table;">
      <div style="
        padding: 0 0;
        margin: 0 0;
        height: 25px !important;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        ">
        <h2 style="
          color: grey;
          font-size: 12px;
          margin: 0px 5px;
          text-overflow: ellipsis;
          white-space: normal;
          ">
          {{ 'PROFILE.EXPLANATION' | translate }}
        </h2>
      </div>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>

  <ion-row style="height: 40px; position: relative; margin-top: 20px">
    <button ion-button (click)="createNewAccount()" [ngStyle]="{'background-color': ctx.fidDarkGrey}"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      height: 40px;
      width: 90%;
      margin-top: -20px;
      margin-left: -45%;
      ">
      {{ 'PROFILE.NEWACCOUNT' | translate }}
    </button>
  </ion-row>

</div>



<div padding *ngIf="(!accountCreated) && newAccountMode">

  <form style="margin-top: 30px;" [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>{{ 'SIGNUP.EMAIL.TITLE' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" placeholder={{emailPlaceholder}}
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>{{ 'SIGNUP.EMAIL.VALID' | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SIGNUP.PASSWORD.TITLE' | translate }}</ion-label>
      <ion-input formControlName="password" type="password"  placeholder={{passwordPlaceholder}}
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>{{ 'SIGNUP.PASSWORD.VALID' | translate }}</p>
    </ion-item>

    <button ion-button block type="submit">
      {{ 'SIGNUP.NEW_ACCOUNT' | translate }}
    </button>

  </form>

</div>
</ion-content>
