page-profile {

  @import "../../theme/variables.scss";

  // ion-content{
  //   background-image: url('../assets/images/background/background15.png') !important;
  // }

  .toolbar-background {
    background-color: color($colors, fidOrange);
  }

  .toolbar-title {
    color : white
  }

  .bar-button-default {
    color : white
  }

  .alertDanger{
    background-color: white;
    color: red;
    button{
      color: red;
    }
  }

  .invalid {
    border-bottom: 1px solid #C00000;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  // //Test pour aligner les éléments contenus dans les items de la liste
  // h2.text{
  //   display: inline-block;
  //   vertical-align: middle;
  // }
  //
  //   form {
  //     margin-bottom: 32px;
  //     button {
  //       margin-top: 20px;
  //     }
  //   }
  //
  //
  //   p {
  //     font-size: 0.8em;
  //     color: #d2d2d2;
  //   }
  //
  //   ion-label {
  //     margin-left: 5px;
  //   }
  //
  //   ion-input {
  //     padding: 5px;
  //   }
  //
  //   .invalid {
  //     border-bottom: 1px solid #FF6153;
  //   }
  //
  //   .error-message .item-inner {
  //     border-bottom: 0 !important;
  //   }



}
