<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="{margin: 0px}">

  <ion-navbar style="{margin: 0px}">
    <ion-buttons start>
      <button ion-button (click)="goBack()">
        {{ 'PROFILE.BACK' | translate }}
      </button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.ACCOUNT' | translate }}</ion-title>
      <ion-buttons end>
        <button ion-button *ngIf="!modifying" (click)="modify()">
          {{ 'PROFILE.MODIFY' | translate }}
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button *ngIf="modifying" (click)="saveModification()">
          {{ 'PROFILE.SAVE' | translate }}
        </button>
      </ion-buttons>
  </ion-navbar>

  <div>
    <p style="margin: 0 0; padding: 0.5px 0; background-color: white"></p>
  </div>

  <div [ngStyle]="{
    'background-color':'white',
    'position':'relative',
    'padding':'10px 0',
    'height':'70px'
  }">
    <img-loader
      [ngStyle]="{
      'position':'absolute',
      'top':'50%',
      'left':'50%',
      'height':'60px',
      'width':'60px',
      'margin-top':'-30px',
      'margin-left':'-30px'
      }"
      src="assets/images/default_images/defaultProfile.png" useImg>
    </img-loader>
  </div>

  <div [ngStyle]="{
    'background-color':'white',
    'position':'relative',
    'padding-top':'25px'
  }">
    <button ion-button outline (click)="changeImage()" [ngStyle]="{
      'outline':'true',
      'border-color':'#afabab',
      'color':'#afabab',
      'position':'absolute',
      'top':'50%',
      'left':'50%',
      'height':'2em',
      'width':'11em',
      'margin-top':'-1.5em',
      'margin-left':'-5.5em',
      'font-size':'9px'
      }">
      {{ 'PROFILE.PICTURE' | translate }}
    </button>
  </div>

  <div>
    <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
      {{ 'PROFILE.DETAILS' | translate }}
    </p>
  </div>

</ion-header>


<!-- <ion-content overflow-scroll="false" [ngStyle]="{ -->
<ion-content style="{margin: 0px 0px; padding: 0px 0px}">


<form class="list" [formGroup]="infoForm">

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-3>
      <p >
        {{ 'PROFILE.EMAIL.TITLE' | translate }}
      </p>
    </ion-col>
    <ion-col col-9>
      <p *ngIf="!modifying" style="color: black;">
        {{ctx.c[info]['email']}}
      </p>
      <ion-input
        *ngIf="modifying"
        style="color: #fe9400;
          font-size: 16px;
          font-family:'Verdana' !important;
          border-bottom: 1px solid grey;"
        type="email"
        #email
        placeholder="Your email"
        formControlName="email"
        [(ngModel)]="ctx.c[info]['email']"
        [class.invalid]="!infoForm.controls.email.valid &&
          infoForm.controls.email.dirty"
      ></ion-input>
      <div class="error-message" *ngIf="!infoForm.controls.email.valid  &&
        infoForm.controls.email.dirty && modifying">
        <p>{{ 'PROFILE.EMAIL.VALID' | translate }}</p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-3>
      <p >
        {{ 'PROFILE.PHONE.TITLE' | translate }}
      </p>
    </ion-col>
    <ion-col col-9>
      <p *ngIf="!modifying" style="color: black">
        {{ctx.c[info]['phone']}}
      </p>
      <ion-input
        *ngIf="modifying"
        style="color: #fe9400;
          font-size: 16px;
          font-family: 'Verdana' !important;
          border-bottom: 1px solid grey;"
        type="tel"
        #phone
        placeholder="Your phone"
        formControlName="phone"
        [(ngModel)]="ctx.c[info]['phone']"
        [class.invalid]="!infoForm.controls.phone.valid &&
          infoForm.controls.phone.dirty"
      ></ion-input>
      <div class="error-message" *ngIf="!infoForm.controls.phone.valid  &&
        infoForm.controls.phone.dirty && modifying">
        <p>{{ 'PROFILE.PHONE.VALID' | translate }}</p>
      </div>
    </ion-col>
  </ion-row>

  </form>

  <div>
    <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
      ID
    </p>
  </div>

  <ion-row style="margin: 0 0; padding: 0px 5px; background-color: white; color: grey">
    <ion-col col-5>
      <p >
        {{ 'PROFILE.ID' | translate }}
      </p>
    </ion-col>
    <ion-col col-5>
      <p style="color: black; font-size: 10px">
        {{address}}
      </p>
    </ion-col>
    <ion-col col-2>
      <button ion-button full icon-center (click)="showID()" [ngStyle]="{
        'background-color':'transparent',
        'position':'relative',
        'color': coinColor,
        'box-shadow':'none',
        'border-color':'rgba(0,0,0,0)',
        'outline':'none'
      }">
        <img-loader
          [ngStyle]="{
            'position':'absolute',
            'top':'50%',
            'left':'50%',
            'height':'1.5em',
            'width':'1.5em',
            'margin-top':'-0.75em',
            'margin-left':'-0.75em'
          }"
          src="assets/images/other/qr_code.png"
          useImg>
        </img-loader>
      </button>
    </ion-col>
  </ion-row>

<div>
  <p style="margin: 0 0; padding: 3px 5px; background-color: #afabab; color: white">
    {{ 'PROFILE.DISCONNECTION' | translate }}
  </p>
</div>

<ion-row style="margin: 0 0; padding: 0px 5px; background-color: white;" (click)="disconnect()">
    <ion-col col-1 [ngStyle]="{'position':'relative'}">
      <ion-icon name="power" [ngStyle]="{
        'color':'#C00000',
        'position':'absolute',
        'top':'50%',
        'font-size':'20px',
        'height':'1em',
        'margin-top':'-0.5em'
      }"></ion-icon>
    </ion-col>
    <ion-col>
      <p style="color: #C00000">
        {{ 'PROFILE.DISCONNECT' | translate }}
      </p>
    </ion-col>
</ion-row>

</ion-content>
