<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only padding (click)="showProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <!-- {{ 'HOME.home_title' | translate }} -->
      {{ 'HOME.WALLET' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only padding (click)="showMap()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-list-header [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0.85)'}">
    <div class="item-content">
     <ion-row style="margin-left: 0; margin-right: 5%!important; padding-top: 0; padding-bottom: 0;">

      <ion-col col-3 style="
        margin: 0 0;
        padding: 0 0;
        display: table;
        align-self: stretch;
        height: 25px;">
      </ion-col>

      <ion-col col-6 style="
        padding: 0 0;
        margin: 0 0;
        display: table;
        text-align: center !important;">
        <div style="
          padding: 0 0;
          margin: 0 0;
          height: 25px !important;
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          ">
          <h2 style="
            max-height: 20px;
            color: grey;
            font-size: 12px;
            margin: 0px 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            ">
            {{ 'HOME.TYPE' | translate }}
          </h2>
        </div>
      </ion-col>

      <ion-col col-3 style="
        margin: 0 0;
        padding: 0 0;
        display: table;">
        <div style="
          padding: 0 0;
          margin: 0 0;
          height: 25px !important;
          display: table-cell;
          vertical-align: middle;
          text-align: left;
        ">
          <h2 class="text" text-center style="
            color: grey;
            font-size: 12px;
            max-height: 20px;
            margin: 5px 5px;">
            {{ 'HOME.AMOUNT' | translate }}
          </h2>
        </div>
      </ion-col>

    </ion-row>
  </div>
  </ion-list-header>

  <!-- <img-loader src="assets/images/background/background75.png" style="display:none" useImg></img-loader>
  <img-loader src="assets/images/background/background30.png" style="display:none" useImg></img-loader>
  <img-loader src="assets/images/background/background15.png" style="display:none" useImg></img-loader> -->

</ion-header>

<ion-content>

  <ion-list *ngIf="ctx.c[myContractAddresses].length!=0">

    <ion-item-sliding *ngFor="let cc of ctx.c[myContractAddresses]">
    <!-- <ion-item-sliding *ngFor="let cc of _context[myContractAddresses]"> -->
    <!-- <ion-item-sliding *ngFor="let coin of coins | async"> -->
      <button ion-item (click)="itemTapped($event, cc)" [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0.85)'}">
        <ion-row>

          <ion-col col-3 style="
            margin: 0 0;
            padding: 0 0;
            display: table;
            align-self: stretch;
            height: 50px;">
            <div>
              <img-loader
                fallback="assets/images/default_images/defaultCoin.png"
                src={{this.ctx.getCoinIcon(cc)}}
                style="
                  border-radius: 40px;
                  position: absolute;
                  top: 50%;
                  width: 40px;
                  height: 40px;
                  margin-top: -20px;
                " useImg>
              </img-loader>
            </div>
          </ion-col>

          <ion-col col-6 style="
            padding: 0 0;
            margin: 0 0;
            display: table;
            text-align: center !important;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
              ">
              <h2 style="
                max-height: 40px;
                color: grey;
                font-size: 18px;
                margin: 0px 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                ">
                {{this.ctx.getCoinName(cc)}}
              </h2>
            </div>
          </ion-col>


          <ion-col col-3 style="
            margin: 0 0;
            padding: 0 0;
            display: table;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
            ">
              <h2 class="text" text-center style="
                color: grey;
                font-size: 18px;
                max-height: 40px;
                margin: 5px 5px;">
                {{this.ctx.getCoinAmount(cc)}}
              </h2>
            </div>
          </ion-col>

        </ion-row>
      </button>

      <!-- DELETE ITEM FROM DATABASE -->
      <!-- <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="removeCoin(coin.id)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options> -->

    </ion-item-sliding>
  </ion-list>

  <div *ngIf="ctx.c[myContractAddresses].length==0">
  <ion-row text-center style="height: 80px; margin-top: 30px; width: 100%; position: relative">
    <img-loader
      (click)="showMap()"
      fallback="assets/images/other/map.png"
      src="assets/images/other/map.png"
      style="
        border-radius: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        margin-top: -40px;
        margin-left: -40px;
        " useImg>
    </img-loader>
  </ion-row>
  <ion-row style="height: 20px; width: 100%; position: relative; margin-top: 10px;">
    <div style="
      position: absolute;
      left: 50%;
      width: 80%;
      margin-left: -40%;
      height: 25px !important;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      ">
      <h2 style="
        margin-top: 0px;
        color: #fe9400;
        font-size: 14px;
        ">
        {{ 'HOME.FIND' | translate }}
      </h2>
    </div>
  </ion-row>
</div>

</ion-content>



<ion-footer style="text-align: center;">
<!-- align to the bottom of the page -->
<!-- <div style="position: absolute; bottom: 0px; width: 100%; z-index:10; background-color: white"> -->
  <div class="greyBar">
    <p style="margin: 0 0; padding: 3px 0; color: white">{{ 'HOME.COLLECT' | translate }}</p>
  </div>

  <button (click)="collectCoins()" style="width: 100%; background-color: white">

    <ion-row style="height: 60px; margin: 0 0;padding: 0 0;">

      <ion-col col-3>
      </ion-col>


      <ion-col col-2 style="display: table;">
        <div style="
          height: 50px !important;
          display: table-cell;
          vertical-align: middle;">
          <img-loader style="
          position: absolute;
          top: 50%;
          left: 50%;
          height: 40px;
          width: 40px;
          margin-top: -20px;
          margin-left: -20px;"
          src="assets/images/other/arrow_right_nn.png" useImg></img-loader>
        </div>
      </ion-col>

      <ion-col col-2 style="
      position: relative; display: table;">
        <div style="
        height: 50px !important;
        display: table-cell;
        vertical-align: middle;">
          <img-loader
            fallback="assets/images/default_images/defaultCoin.png"
            style="
              position: absolute;
              top: 50%;
              left: 50%;
              height: 40px;
              width: 40px;
              margin-top: -20px;
              margin-left: -20px;"
            src="assets/images/default_images/defaultCoin.png"
            useImg
          ></img-loader>
         </div>
      </ion-col>


      <ion-col col-2 style="display: table;">
        <div style="
          height: 50px !important;
          display: table-cell;
          vertical-align: middle;
          position: relative;">
          <img-loader style="
          position: absolute;
          top: 50%;
          left: 50%;
          height: 40px;
          width: 40px;
          margin-top: -20px;
          margin-left: -20px;"
          src="assets/images/other/arrow_left_nn.png" useImg></img-loader>
        </div>
      </ion-col>

      <ion-col col-3>
      </ion-col>

    </ion-row>



    <!-- <ion-row style="margin: 0 0;padding: 0 0; background-color : transparent">

      <ion-col style="position: relative;" [ngStyle]="{'background-color': 'transparent'}">
      </ion-col>

      <ion-col style="position:relative; text-align:center" [ngStyle]="{'background-color': 'transparent'}">
          <img-loader src="assets/images/other/arrow_right.png" useImg></img-loader>
          </ion-col>

          <ion-col style="position:relative;" [ngStyle]="{'background-color': 'transparent'}">
            <img-loader
            [ngStyle]="{
              'position':'absolute',
              'top':'50%',
              'left':'50%',
              'height':'40px',
              'width':'40px',
              'margin-top':'-20px',
              'margin-left':'-20px'
            }"
            src="assets/images/default_images/defaultCoin.png"
            useImg
            ></img-loader>
          </ion-col>

          <ion-col style="position:relative; text-align:center" [ngStyle]="{'background-color': 'transparent'}">
            <img-loader src="assets/images/other/arrow_left.png" useImg></img-loader>
          </ion-col>

          <ion-col style="position:relative;" [ngStyle]="{'background-color': 'transparent'}">
          </ion-col>

        </ion-row> -->
      </button>

</ion-footer>
