<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only padding (click)="showProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME.WALLET' | translate }}
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!mapIsOn" ion-button icon-only padding (click)="showMap()">
        <ion-icon name="map"></ion-icon>
      </button>
      <button *ngIf="mapIsOn" ion-button icon-only padding (click)="showList()">
        <ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- display: table;
text-align: center !important;">
<div style="
  padding: 0 0;
  margin: 0 0;
  height: 50px !important;
  display: table-cell;
  vertical-align: middle; -->


<ion-content>

  <div ion-fixed style="padding: 0 0; margin: 0 0; width: 100%;">
    <ion-row style="height: 35px" [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0.85)'}">
      <ion-col col-6 style="text-align: center; padding: 0 0;">
        <button (click)="setAllCoins()" style="
          background-color: transparent;
          height: 100%;
          width: 100%;
          color: grey;
          font-size: 120%;">
          <div *ngIf="myCoinsOnly" [ngStyle]="{'color': ctx.fidGrey}">
            {{ 'HOME.ALLCOINS' | translate }}
          </div>
          <div *ngIf="!myCoinsOnly" [ngStyle]="{'color': ctx.fidDarkGrey}">
            {{ 'HOME.ALLCOINS' | translate }}
          </div>
        </button>
        <div *ngIf="!myCoinsOnly" [ngStyle]="{'background-color': ctx.fidDarkGrey}" style="width: 100%; height: 2px; botttom: 0;"></div>
      </ion-col>
      <ion-col col-6 style="text-align: center; padding: 0 0;">
        <button (click)="setMyCoins()" style="
          background-color: transparent;
          height: 100%;
          width: 100%;
          color: grey;
          font-size: 120%;">
          <div *ngIf="myCoinsOnly" [ngStyle]="{'color': ctx.fidDarkGrey}">
            {{ 'HOME.YOURCOINS' | translate }}
          </div>
          <div *ngIf="!myCoinsOnly" [ngStyle]="{'color': ctx.fidGrey}">
            {{ 'HOME.YOURCOINS' | translate }}
          </div>
        </button>
        <div *ngIf="myCoinsOnly" [ngStyle]="{'background-color': ctx.fidDarkGrey}" style="width: 100%; height: 2px; bottom: 0;"></div>
      </ion-col>
    </ion-row>

  </div>


  <!-- <div ion-fixed *ngIf="ctx.getCoins(myCoinsOnly).length!=0" [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0.85)'}"
    style="height: 20px; padding: 0 0; margin: 0 0; width: 100%; margin-top: 40px;">
    <ion-row style="margin-left: 0; margin-right: 5%!important; padding-top: 0; padding-bottom: 0;">

     <ion-col col-3 style="
       margin: 0 0;
       padding: 0 0;
       display: table;
       align-self: stretch;
       height: 25px;">
     </ion-col>

     <ion-col col-6 style="
       padding: 0 0;
       margin: 0 0;
       display: table;
       text-align: center !important;">
       <div style="
         padding: 0 0;
         margin: 0 0;
         height: 25px !important;
         display: table-cell;
         vertical-align: middle;
         text-align: left;
         ">
         <h2 style="
           max-height: 20px;
           color: grey;
           font-size: 12px;
           margin: 0px 5px;
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: normal;
           ">
           {{ 'HOME.TYPE' | translate }}
         </h2>
       </div>
     </ion-col>

     <ion-col col-3 style="
       margin: 0 0;
       padding: 0 0;
       display: table;">
       <div style="
         padding: 0 0;
         margin: 0 0;
         height: 25px !important;
         display: table-cell;
         vertical-align: middle;
         text-align: left;
       ">
         <h2 class="text" text-center style="
           color: grey;
           font-size: 12px;
           max-height: 20px;
           margin: 5px 5px;">
           {{ 'HOME.AMOUNT' | translate }}
         </h2>
       </div>
     </ion-col>

   </ion-row>
  </div> -->


  <div #map id="map" style="width: 100%; height: 100%; max-width: none;">
  </div>


  <div #list id="list" style="margin-top: 40px;">

  <ion-list *ngIf="contractAddresses.length!=0">


    <ion-item-sliding *ngFor="let cc of contractAddresses">

      <button ion-item (click)="itemTapped($event, cc)" [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0.85)'}">
        <ion-row>

          <ion-col col-3 style="
            margin: 0 0;
            padding: 0 0;
            display: table;
            align-self: stretch;
            height: 50px;">
            <div>
              <img-loader
                fallback="assets/images/default_images/defaultCoin.png"
                src={{this.ctx.getCoinIcon(cc)}}
                style="
                  border-radius: 40px;
                  position: absolute;
                  top: 50%;
                  width: 40px;
                  height: 40px;
                  margin-top: -20px;
                " useImg>
              </img-loader>
            </div>
          </ion-col>

          <ion-col col-6 style="
            padding: 0 0;
            margin: 0 0;
            display: table;
            text-align: center !important;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
              ">
              <h2 style="
                max-height: 40px;
                color: grey;
                font-size: 18px;
                margin: 0px 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                ">
                {{this.ctx.getCoinName(cc)}}
              </h2>
            </div>
          </ion-col>


          <ion-col col-3 style="
            margin: 0 0;
            padding: 0 0;
            display: table;">
            <div style="
              padding: 0 0;
              margin: 0 0;
              height: 50px !important;
              display: table-cell;
              vertical-align: middle;
              text-align: left;
            ">
              <h2 class="text" text-center style="
                color: grey;
                font-size: 18px;
                max-height: 40px;
                margin: 5px 5px;">
                {{this.ctx.getCoinAmount(cc)}}
              </h2>
            </div>
          </ion-col>

        </ion-row>
      </button>

    </ion-item-sliding>
  </ion-list>

  <div *ngIf="contractAddresses.length==0" style="margin-top: 100px; height: 80px;">
  <!-- <div> -->
  <ion-row text-center style="height: 80px; width: 100%; position: relative;">

    <ion-icon (click)="showMapWithAllCoins()" name="map" [ngStyle]="{'color': ctx.fidDarkGrey}"
      style="
        font-size: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px;
        margin-top: -35px;
        margin-left: -35px;
        ">
    </ion-icon>
  </ion-row>
  <ion-row style="height: 20px; width: 100%; position: relative; margin-top: 10px;">
    <div style="
      position: absolute;
      left: 50%;
      width: 80%;
      margin-left: -40%;
      height: 25px !important;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      ">
      <h2 [ngStyle]="{'color': ctx.fidDarkGrey}" style="
        margin-top: 0px;
        font-size: 14px;
        ">
        {{ 'HOME.FIND' | translate }}
      </h2>
    </div>
  </ion-row>
</div>

</div>

</ion-content>


<!-- DELETE ITEM FROM DATABASE -->
<!-- <ion-item-options side="right">
  <button ion-button color="danger" icon-only (click)="removeCoin(coin.id)"><ion-icon name="trash"></ion-icon></button>
</ion-item-options> -->


<!-- -------------------------------------------- FOOTER -------------------------------------------- -->

<ion-footer style="text-align: center;">
  <!-- <div *ngIf="!mapIsOn" style="text-align: center;">
    <p style="margin: 0 0; padding: 3px 0; color: grey" [ngStyle]="{'background-color': ctx.fidLightGrey}">
      {{ 'HOME.COLLECT' | translate }}
    </p>
  </div> -->
  <div style="text-align: center; color: white;">
    <p style="margin: 0 0; padding: 3px 0; color: white" [ngStyle]="{'background-color': ctx.fidDarkGrey}">
      {{ 'HOME.COLLECT' | translate }}
    </p>
  </div>

  <button (click)="collectCoins()" style="width: 100%; background-color: white">

    <ion-row style="height: 60px; margin: 0 0;padding: 0 0;">

      <ion-col col-3>
      </ion-col>


      <ion-col col-2 style="display: table;">
        <div style="
          height: 50px !important;
          display: table-cell;
          vertical-align: middle;">
          <img-loader style="
          position: absolute;
          top: 50%;
          left: 50%;
          height: 40px;
          width: 40px;
          margin-top: -20px;
          margin-left: -20px;"
          src="assets/images/other/arrow_right_nn.png" useImg></img-loader>
        </div>
      </ion-col>

      <ion-col col-2 style="
      position: relative; display: table;">
        <div style="
        height: 50px !important;
        display: table-cell;
        vertical-align: middle;">
          <img-loader
            fallback="assets/images/default_images/defaultCoin.png"
            style="
              position: absolute;
              top: 50%;
              left: 50%;
              height: 40px;
              width: 40px;
              margin-top: -20px;
              margin-left: -20px;"
            src="assets/images/default_images/defaultCoin.png"
            useImg
          ></img-loader>
         </div>
      </ion-col>


      <ion-col col-2 style="display: table;">
        <div style="
          height: 50px !important;
          display: table-cell;
          vertical-align: middle;
          position: relative;">
          <img-loader style="
          position: absolute;
          top: 50%;
          left: 50%;
          height: 40px;
          width: 40px;
          margin-top: -20px;
          margin-left: -20px;"
          src="assets/images/other/arrow_left_nn.png" useImg></img-loader>
        </div>
      </ion-col>

      <ion-col col-3>
      </ion-col>

    </ion-row>

  </button>

</ion-footer>
