<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'SIGNUP.TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding scroll="false">
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>{{ 'SIGNUP.EMAIL.TITLE' | translate }}</ion-label>
      <ion-input formControlName="email" type="email" placeholder={{emailPlaceholder}}
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>{{ 'SIGNUP.EMAIL.VALID' | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SIGNUP.PASSWORD.TITLE' | translate }}</ion-label>
      <ion-input formControlName="password" type="password"  placeholder={{passwordPlaceholder}}
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>{{ 'SIGNUP.PASSWORD.VALID' | translate }}</p>
    </ion-item>

    <button ion-button block type="submit">
      {{ 'SIGNUP.NEW_ACCOUNT' | translate }}
    </button>

  </form>

</ion-content>
